.main {
  padding: 8px 6px 8px 8px;
}
.day {
  width: 5px;
  height: 5px;
  background: #ccc;
  margin: 1px;
  float: left;
}
.is-past {
  background-color: rgba(247, 155, 122, 0.671);
}
.is-current {
  background-color: rgb(250, 74, 10);
}
